<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @recipes.each do |recipe| %>
    <a href="/recipes/<%=recipe.id%>"><h1><%= recipe.name %></h1></a>
      <p><%= recipe.ingredients %></p>
      <p><%= recipe.cook_time %></p>
    <% end %>
  </body>
</html>
